$cor0: #0b5e56;
$cor1: #00d2ff;
$cor2: #b2e5e5;
$cor3: #86becb;
$cor4: #1aa3a3;
$cor5: #0b5e56;
$cor6: #b2e5e5;

.card-0:hover { background-color: darken($cor0, 10%);}
.card-1:hover { background-color: darken($cor1, 10%);}
.card-2:hover { background-color: darken($cor2, 10%);}
.card-3:hover { background-color: darken($cor3, 10%);}
.card-4:hover { background-color: darken($cor4, 10%);}
.card-5:hover { background-color: darken($cor5, 10%);}
.card-6:hover { background-color: darken($cor6, 10%);}
.card-1 { background-color: rgba(0, 210, 255, 0.5);}
.card-2 { background-color: rgba(178,229,229, 0.5);}
.card-3 { background-color: rgba(134,190,203, 0.5);}
.card-4 { background-color: rgba(26,163,163, 0.5);}
.card-5 { background-color: rgba(11,94,86, 0.5);}
.card-6 { background-color: rgba(178,229,229, 0.5);}
