{% extends 'index-base.html' %}
{% load static %}
{% load django_markdown %}
{% load sekizai_tags %}

{% block conteudo %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endaddtoblock %}
    {% addtoblock 'style' %}
        #bigphoto {
        background-image: url({% static 'img/medico.jpg' %});
        -webkit-background-size: cover;
        background-size: cover;
        width: 100%;
        margin: 0;
        padding: 60px 0 0;
        top: 0;
        left: 0;
        color: white;
        }
        #bigphoto h1, #bigphoto p {
        font-family: Raleway, sans-serif;
        font-weight: 200;
        }
        #bigphoto h1 {
        font-size: 50px;
        }
        div.cards { margin-top: 60px;}
        a.card {
        display: block;
        color: white;
        text-decoration: none;
        padding: 120px 30px 30px;
        transition: background-color 0.8s;
        }
        a.card div {
            position: absolute;
            bottom: 0;
            width: 80%;
        }
        .card.card-0 {
        background-color: rgba(11, 94, 86, 0.5);
        padding: 30px;
        }
    {% endaddtoblock %}

<div id="bigphoto">
    <div class="container">
        {% with conteudo=conteudos|first  %}
            <div class="{{ conteudo.css }}">
                {% if conteudo.tipo == 'markdown' %}
                    {{ conteudo.corpo|markdown }}
                {% else %}
                    {{ conteudo.corpo|safe }}
                {% endif %}
            </div>
        {% endwith %}
        <div class="row cards">
            <a href="{% url 'dado-primario-list' %}" class="card col-xs-12 card-0">
                <h3>Dados primários</h3>
                <p>Fontes de dados da pesquisa</p>
            </a>
            {% for categoria in categorias|slice:'0:6' %}
                {% with indicador=categoria.indicador %}
                <a {% if indicador %}href="{% url 'indicador-detail' tema=indicador.tema_id pk=indicador.pk %}" {% endif %}class="card col-lg-4 col-md-6 card-{% cycle 1 2 3 4 5 6 %}">
                    <div>
                        <h3>{{ categoria.nome }}</h3>
                        <p>{{ categoria.subtitulo }}</p>
                    </div>
                </a>

                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% if categorias|length > 6 %}
    <div class="container">
        <div class="row" style="background-color: gray">
            {% for categoria in categorias|slice:'6:' %}
                {% with indicador=categoria.indicador %}
                    {% if indicador %}
                    <a href="{% url 'indicador-detail' tema=indicador.tema_id pk=indicador.pk %}" class="card col-lg-4 col-md-6 card-{% cycle 1 2 3 4 5 6 %}">
                        <div>
                            <h3>{{ categoria.nome }}</h3>
                            <p>{{ categoria.subtitulo }}</p>
                        </div>
                    </a>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endif %}
<div class="container">
    <div class="row">
        <a href="{% url 'indicador-fluxo-detail' pk='*' %}" class="card col-xs-12 card-0">
            <h3>{{ fluxos.nome }}</h3>
            <p>{{ fluxos.subtitulo }}</p>
        </a>
    </div>
</div>

{% for conteudo in conteudos|slice:'1:' %}
    <hr>
    <div class="container {{ conteudo.css }}">
        {% if conteudo.tipo == 'markdown' %}
            {{ conteudo.corpo|markdown }}
        {% else %}
            {{ conteudo.corpo|safe }}
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
