{% extends 'index-base.html' %}
{% load static %}
{% load django_markdown %}
{% load sekizai_tags %}

{% block conteudo %}
    {% addtoblock 'style' %}
        #bigphoto {
        background-image: url({% static 'img/medico.jpg' %});
        -webkit-background-size: cover;
        background-size: cover;
        width: 100%;
        margin: 0;
        padding: 60px 0 0;
        top: 0;
        left: 0;
        color: white;
        }
        #bigphoto h1, #bigphoto p {
        font-family: Raleway, sans-serif;
        font-weight: 200;
        }
        #bigphoto h1 {
        font-size: 50px;
        }
        div.cards { margin-top: 60px;}
        a.card {
        display: block;
        color: white;
        text-decoration: none;
        padding: 120px 30px 30px;
        transition: background-color 0.8s;
        }
        .card.card-0 {
        background-color: rgba(11, 94, 86, 0.5);
        padding: 30px;
        }
        .card-0:hover { background-color: #0b5e56;}
        .card-1:hover { background-color: #00d2ff;}
        .card-2:hover { background-color: #b2e5e5;}
        .card-3:hover { background-color: #86becb;}
        .card-4:hover { background-color: #1aa3a3;}
        .card-5:hover { background-color: #0b5e56;}
        .card-6:hover { background-color: #b2e5e5;}
        .card-1 { background-color: rgba(0, 210, 255, 0.5);}
        .card-2 { background-color: rgba(178,229,229, 0.5);}
        .card-3 { background-color: rgba(134,190,203, 0.5);}
        .card-4 { background-color: rgba(26,163,163, 0.5);}
        .card-5 { background-color: rgba(11,94,86, 0.5);}
        .card-6 { background-color: rgba(178,229,229, 0.5);}
    {% endaddtoblock %}

<div id="bigphoto">
    <div class="container">
        {% with conteudo=conteudos|first  %}
            <div class="{{ conteudo.css }}">
                {% if conteudo.tipo == 'markdown' %}
                    {{ conteudo.corpo|markdown }}
                {% else %}
                    {{ conteudo.corpo|safe }}
                {% endif %}
            </div>
        {% endwith %}
        <div class="row cards">
            <a href="{% url 'categoria-detail' slug=fluxos.slug %}" class="card col-xs-12 card-0">
                <h3>{{ fluxos.nome }}</h3>
                <p>{{ fluxos.subtitulo }}</p>
            </a>
            {% for categoria in categorias|slice:'0:6' %}
                {% with indicador=categoria.indicador %}
                {% if indicador %}
                <a href="{% url 'indicador-detail' tema=indicador.tema_id pk=indicador.pk %}" class="card col-lg-4 col-md-6 card-{% cycle 1 2 3 4 5 6 %}">
                    <h3>{{ categoria.nome }}</h3>
                    <p>{{ categoria.subtitulo }}</p>
                </a>
                {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% if categorias|length > 6 %}
    <div class="container">
        <div class="row">
            {% for categoria in categorias|slice:'6:' %}
                {% with indicador=categoria.indicador_set.first %}
                    {% if indicador %}
                    <a href="{% url 'indicador-detail' tema=indicador.tema_id pk=indicador.pk %}" class="card col-lg-4 col-md-6 card-{% cycle 1 2 3 4 5 6 %}">
                        <h3>{{ categoria.nome }}</h3>
                        <p>{{ categoria.subtitulo }}</p>
                    </a>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% for conteudo in conteudos|slice:'1:' %}
    <hr>
    <div class="container {{ conteudo.css }}">
        {% if conteudo.tipo == 'markdown' %}
            {{ conteudo.corpo|markdown }}
        {% else %}
            {{ conteudo.corpo|safe }}
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
