{% extends 'base.html' %}
{% load diplo %}
{% load bootstrap3 %}
{% load sekizai_tags %}

{% block crumbs %}
    {% with tema=object.tema %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'indicador-list' tema='' %}">Dados</a></li>
        {% if object.categoria %}
            {% for ancestor in object.categoria.get_ancestors %}
            <li>{{ ancestor.nome }}</li>
            {% endfor %}
            <li>{{ object.categoria.nome }}</li>
        {% endif %}
        <li class="active"><a href="{% url 'indicador-detail' tema=tema.pk pk=object.pk %}">{{ object.nome }}</a></li>
    {% endwith %}
{% endblock %}

{% block content %}
    <h1 class="text-center"><small>Fluxos:</small>
        <br> {{ object.subgrupo }}</h1>
{% endblock %}

