{% extends 'indicador-detail-base.html' %}
{% load diplo %}
{% load bootstrap3 %}
{% load sekizai_tags %}

{% block content %}
    {{ block.super }}
    <p class="text-center">
        <a href="{% url 'download-csv' pk=object.pk regionalizacao=regionalizacao %}" class="btn"><i class="fa fa-download"></i> download</a>
    </p>

    <div id="data-table-container">
        {{ object|get_data:regionalizacao|order_df:ordem|to_html:object.formato|safe }}
    </div>
{% endblock %}

{% block extra %}
    {% addtoblock 'js' %}
        <script>
            (function() {
                var order = '{{ ordem|escapejs }}';
                var ascending = true;
                var row = $('#data-table-container').find('table tr');

                if (order[0] == '-') {
                    ascending = false;
                    order = order.replace('-', '');
                }


                $(row[0]).find('th').each(function (i) {
                    if (i == 0) return true;
                    var ano = $(this).text();
                    if (ano == order) {
                        if (ascending) {
                            $(this).addClass('ascending').removeClass('descending').html(
                                    $('<a href="" onclick="return order_by(\'-'+$(this).text()+'\')">'+$(this).text()+' <i class="fa fa-long-arrow-down"></i></a>')
                            );
                        } else {
                            $(this).addClass('descending').removeClass('ascending').html(
                                    $('<a href="" onclick="return order_by(\'' + $(this).text() + '\')">'+$(this).text()+' <i class="fa fa-long-arrow-up"></i></a>')
                            );
                        }
                    } else {
                        $(this).removeClass('descending ascending').html(
                                $('<a href="" onclick="return order_by('+$(this).text()+')">'+$(this).text()+'</a>')
                        );
                    }
                });
                if (order == 'localidade') {
                    if (ascending) {
                        $(row[1]).find('th').first().addClass('descending').removeClass('ascending').html(
                                $('<a href="" onclick="return order_by(\'-localidade\')">localidade <i class="fa fa-long-arrow-down"></i></a>')
                        );
                    } else {
                        $(row[1]).find('th').first().addClass('ascending').removeClass('descending').html(
                                $('<a href="" onclick="return order_by(\'localidade\')">localidade <i class="fa fa-long-arrow-up"></i></a>')
                        );
                    }
                } else {
                    $(row[1]).find('th').first().removeClass('descending ascending').html(
                            $('<a href="" onclick="return order_by(\'localidade\')">localidade</a>')
                    );
                }
            })();
            function order_by(order) {
                var path = '{{ request.path|escapejs }}';
                window.location = path + '?o=' + order;
                return false;
            }

        </script>
    {% endaddtoblock %}
{% endblock %}
