{% extends 'indicador-detail-base.html' %}
{% load diplo %}
{% load static %}
{% load bootstrap3 %}
{% load sekizai_tags %}

{% block crumbs %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li>Fluxos</li>
    <li class="active"><a>{{ object.subgrupo }}</a></li>
{% endblock %}

{% block content %}
    {% addtoblock 'css' %}
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" rel="stylesheet" type="text/css">
        <style>
        div.scrollbars {
            width: 100%;
            overflow: scroll;
        }
        div.scrollbars div {
            width: 15000px;
        }
        div.scrollbars div table {
            width: auto;
        }
        div.scrollbars div table tr th {
            width: 300px;
        }
        </style>
    {% endaddtoblock %}
    {% addtoblock 'js' %}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
        <script>
        function toggle_aba(el) {
            el = $(el);
            el.parent().siblings().removeClass('active');
            el.parent().addClass('active');
            $('.div-conteudo').toggle();
            return false;
        }
        </script>
    {% endaddtoblock %}

    <h1 class="text-center"><small>Fluxos:</small>
        <br> {{ object.subgrupo }}</h1>

    <ul class="nav nav-tabs">
        <li id="li-grafico" role="presentation" class="active"><a href="#" onclick="toggle_aba(this)"><i class="fa fa-bar-chart"></i> Matriz de Adjacência</a></li>
        <li id="li-tabela" role="presentation"><a href="#" onclick="toggle_aba(this)"><i class="fa fa-table"></i> Dados</a></li>
    </ul>

    <div id="data-table-container">
        <p></p>
        <div id="div-grafico" class="div-conteudo">
            {% with chart=object|plota_heatmap_fluxo %}
                <div id="vis">{{ chart.div|safe }}</div>
                {% addtoblock 'js' %}
                    {{ chart.script|safe }}
                {% endaddtoblock %}
            {% endwith %}
        </div>

        <div id="div-tabela" style="display: none" class="div-conteudo">
            <p class="text-center">
                <a href="{% url 'download-fluxo-csv' pk=object.pk %}" class="btn"><i class="fa fa-download"></i> download</a>
            </p>
            <div>
                <p></p>
                <div class="scrollbars">
                    <div>
                        {{ object.dados_html|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
