{% extends 'indicador-detail-base.html' %}
{% load diplo %}
{% load bootstrap3 %}
{% load static %}

{% block dados %}{% endblock %}
{% block tipo %}grafico{% endblock %}
{% block grafico %} class="active"{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="data-table-container">
        <h3 class="text-center">Medadados</h3>
        <table class="table">
            <tbody>
            <tr>
                <th class="text-right" style="width: 20%;">Descrição:</th>
                <td>{{ object.descricao|default:'-' }}</td>
            </tr>
            <tr>
                <th class="text-right">Período:</th>
                <td>{{ object.periodo|ul_split:',' }}</td>
            </tr>
            <tr>
                <th class="text-right">Fonte:</th>
                <td>{{ object.fonte|default:'N/D' }}</td>
            </tr>
            <tr>
                <th class="text-right">Observações:</th>
                <td>{{ object.observacao|default:'-' }}</td>
            </tr>
            <tr>
                <th class="text-right">Tema:</th>
                <td>{{ object.tema|default:'-' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
