{% extends 'indicador-detail-base.html' %}
{% load diplo %}
{% load static %}
{% load bootstrap3 %}
{% load sekizai_tags %}

{% block crumbs %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li>Fluxos</li>
    <li class="active"><a>{{ object.subgrupo }}</a></li>
{% endblock %}

{% block content %}
    {% addtoblock 'css' %}
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" rel="stylesheet" type="text/css">
    {% endaddtoblock %}
    {% addtoblock 'js' %}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    {% endaddtoblock %}

    {{ block.super }}
    <div id="data-table-container">
        {% with chart=object|plota_heatmap_fluxo %}
        <div id="vis">{{ chart.div|safe }}</div>
        {% addtoblock 'js' %}
            {{ chart.script|safe }}
        {% endaddtoblock %}
        {% endwith %}
    </div>
{% endblock %}
