{% extends 'indicador-detail-base.html' %}
{% load diplo %}
{% load bootstrap3 %}
{% load static %}
{% load sekizai_tags %}

{% block dados %}{% endblock %}
{% block tipo %}mapa{% endblock %}
{% block mapa %} class="active"{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="data-table-container">
        <div id="vis">
            <svg id="map-holder" width="1005" height="600"></svg>
            <div class="seletor-ano text-right">
                {% for ano in object.anos %}
                    <button rel="{{ ano }}" class="btn btn-{% if forloop.first %}primary{% else %}default{% endif %}">{{ ano }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    {% addtoblock 'css' %}
        <style>
            .mapLegend {
                position: absolute;
                left: 35px;
                bottom: 20px;
                border: 1px solid #aaaaaa;
                background-color: white;
                padding: 10px 20px;
            }

            #vis {
                border: 1px solid #aaaaaa;
                background-color: #eeeeee;
            }
        </style>
    {% endaddtoblock %}
    {% addtoblock 'js' %}
        <script src="{% static 'js/vendor/lodash-4.16.4/lodash.min.js' %}"></script>
        <script src="{% static 'js/vendor/d3-3.5.17/d3.min.js' %}"></script>
        <script src="{% static 'js/vendor/topojson-1.6.27/topojson.min.js' %}"></script>
        <script src="{% static 'js/vendor/cb.js' %}"></script>
        <script src="{% static 'js/vendor/mapmap/mapmap.js' %}"></script>
        <script>
            var meta = {
                drs: { key: 'drsnome'},
                munic: { key: 'nomemun'},
                rras: { key: 'rrasnome'},
                regsau: { key: 'regsnome'},
                pesquisa: { key: 'regsnome'},
                mun_pesquisa: { key: 'nomemun'}
            };
            var dados = {{ object|map_data:regionalizacao|safe }};
            function hover(ano) {
                return function(d) {
                    return d.localidade + ": " + d[ano];
                }
            }
            var map = mapmap('#map-holder')
                    .geometry('/static/geo/{{ regionalizacao }}.topojson', meta.{{ regionalizacao }}.key)
                    .meta(dados.meta)
                    .data(dados.series, 'localidade')
                    .choropleth(dados.anos[0])
                    .legend(mapmap.legend.html())
                    .hoverInfo(hover(dados.anos[0]))
                    .applyBehavior(mapmap.behavior.zoom());
            var seletor = $('.seletor-ano button');
            seletor.click(function() {
                var el = $(this);
                var ano = el.attr('rel');
                map.choropleth(ano).hoverInfo(hover(ano));
                seletor.removeClass('btn-primary').addClass('btn-default');
                el.removeClass('btn-default').addClass('btn-primary');
            });
        </script>
    {% endaddtoblock %}
{% endblock %}
